/pack/
/packtmp/
/*.zip
/config/inventoryprofilesnext/
/config/jei/world/
/config/Mekanism/client.toml
/config/forgematica/
/config/forgematica.json
/config/mafglib.json
/kubejs/server_scripts/advanced_patches
/kubejs/startup_scripts/1000000_overdrive
/kubejs/startup_scripts/soy_delight
/kubejs/startup_scripts/valinium
